* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background: rgb(11, 16, 63);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1152px;
  padding: 6px;
}
.links {
  align-items: center;
  display: flex;
  padding: 3px;
  margin: auto;
}
.links h3 {
  margin: 15px;
  color: rgb(186, 198, 198);
  line-height: 18px;
}
.links h3:hover {
  color: white;
  cursor: pointer;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 4;
}
ul li a {
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
ul li a:hover {
  border-radius: 10px;
  background: hsl(180, 12%, 92%);
  width: 90px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
h2 {
  font-weight: bold;
  color: rgb(243, 240, 240);
}

.section__header {
  display: flex;
}
.section__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  text-transform: capitalize;
}
.section__header-content h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: white;
}
.section__header-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 1.5rem;
  color: white;
}
.section__header-content__input {
  position: relative;
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}
form {
  position: relative;
  width: 700px;
}
form input {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
}
form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  width: 20%;
  margin: 0.5rem;
  background: rgb(69, 69, 199);
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.header__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__image img {
  width: 100%;
  height: 100%;
}

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.brand div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  margin-top: 5rem;
}
.features__contents {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  text-transform: capitalize;
}
.features__contents h3 {
  line-height: 20px;
  background: rgb(28, 233, 141);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
}
.features__contents h1 {
  line-height: 18px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.02rem;
  margin-top: 2rem;
}
.features__contents p {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  margin-top: 1.5rem;
}
.features__contents h2 {
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: black;
}
.icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  color: wheat;
}
#icon1 {
  background-color: rgb(48, 48, 115);
}
#icon2 {
  background-color: pink;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.features__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features img {
  width: 50%;
  height: 50%;
}
.testimonials {
  background: rgb(214, 205, 205);
  padding: 2rem;
}
.testimonials__content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.testimonials__content h1 {
  line-height: 18px;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.02rem;
  margin-top: 2rem;
}
.testimonials__content h3 {
  line-height: 20px;
  background: rgb(28, 233, 141);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  margin-bottom: 1.5rem;
}
.testimonials__content h2 {
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.testimonials__content p {
  font-weight: normal;
  line-height: 27px;
  margin-top: 1.5rem;
}
.testimonials__container {
  width: 100%;
  margin-top: 1.5rem;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  outline: none;
  border-radius: 10px;
}
.testimonials__people,
.brand {
  margin-bottom: 20px; /* add some spacing between sections */
}
.testimonials__people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.testimonials__people > div {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}
.testimonials__people h2 {
  font-weight: 700;
  line-height: 20px;
  color: black;
  margin-bottom: 1.5rem;
}
.testimonials__people p {
  font-size: 20px;
  letter-spacing: -0.02rem;
  font-weight: 400;
}
hr {
  margin-top: 2rem;
}

.faqs {
  margin: 2rem;
}
.faqs__contents {
  text-align: center;
}
.h3_centered {
  margin-bottom: 1.5rem;
  background-color: aqua;
  text-align: center;
  padding: 10px;
}
.faqs__contents h1 {
  margin-bottom: 1rem;
}
.faqs__container {
  margin-top: 1.5rem;
}

.faqs__container h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.faqs__container .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transition: transform 0.3s ease;
}

.faqs__container .arrow.down {
  transform: rotate(45deg);
}
.faqs__container .arrow.up {
  transform: rotate(-135deg);
}
.faqs__container p {
  display: none;
  margin-top: 10px;
  color: black;
}
.faqs__conains {
  width: 100%;
  background-color: aquamarine;
  border-radius: 10px;
  margin-top: 3rem;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
.faqs__conains form {
  margin: auto;
  width: 50%;
}
.faqs__conains p {
  margin-top: 1.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1050px) {
  .section__header {
    flex-direction: column;
  }
  .section__header-content {
    margin: 0 0 3rem;
  }
}
@media screen and (max-width: 650px) {
  .section__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .section__header p {
    font-size: 16px;
    line-height: 24px;
  }
  .section__header-content__input input,
  .section__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}
